body {
    background-color: #aa43;
}

.container {
    margin: 0 auto;
    max-width: 540px;
    min-width: 480px;
    align-content: center;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 8px 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
    background-color: #6aaa;
    color: #672aaa;
    margin-bottom: 10px;
    /*height: 50px;*/
}

.canvas-wrap {
    position: relative;
}

#teste {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

#canvas {
    z-index: -1;
    margin: 0 auto;
    display: block;
}

#pomodoro-timer {
    font-size: 50px;
    color: #900ffb;
    text-align: center;
    -moz-user-select: none;
}

.pomodoro-timer-box {
    display: flex;
    flex-direction: column;
}

.pomodoro-clock-actions {
    margin-bottom: 15px;
}

.task-label input {
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    border: solid 1px #ee32;
    padding: 5px;

}

.pomodoro-clock-actions button {
    border-style: none;
    border-radius: 2px;
    padding: 2px 12px;

}

.update-buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 60%;
}

.arrow-up {
    border: 20px solid transparent;
    border-bottom: 20px solid #ff0;
    background-color: transparent;
}

.disable {
    pointer-events: none;
    opacity: 0.6;
}

.arrow-bottom {
    border: 20px solid transparent;
    border-top: 20px solid #ff0;
    background-color: transparent;
}

.info h3{
    color: #345bce;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
}

.hide {
    display: none;
}

.session-log {
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
}