.container {
    margin: 0 auto;
    max-width: 540px;
    min-width: 480px;
    align-content: center;
    text-align: center;
}

.canvas-wrap {
    position: relative;
}

#teste {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

#canvas {
    z-index: -1;
    margin: 0 auto;
    display: block;
}

#pomodoro-timer {
    font-size: 50px;
    color: #900ffb;
    text-align: center;
    -moz-user-select: none;
}

.pomodoro-timer-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.pomodoro-clock-actions {
    text-align: center;
}

.pomodoro-clock-actions button {
    border-style: none;
    border-radius: 2px;
    padding: 2px 12px;

}

.update-buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 84%;
}

.arrow-up {
    border: 20px solid transparent;
    border-bottom: 20px solid #ff0;
    background-color: transparent;
}

.disable {
    pointer-events: none;
    opacity: 0.6;
}

.arrow-bottom {
    border: 20px solid transparent;
    border-top: 20px solid #ff0;
    background-color: transparent;
}
